:root {
    /* Primary */
    --pri-orange: hsl(25, 97%, 53%);
    /* Neutral */
    --neu-white: hsl(0, 0%, 100%);
    --neu-lightGrey: hsl(217, 12%, 63%);
    --neu-mediumGrey: hsl(216, 12%, 54%);
    --neu-darkBlue: hsl(213, 19%, 18%);
    --neu-veryDarkBlue: hsl(216, 12%, 8%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    width: 90%;
    border: 1px solid black;
    margin: auto;
    height: min-content;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.starIcon {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#ratingOption {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

#ratingOption {
    border: 1px solid green;
    margin: auto;
}

#ratingOption li:hover {
    cursor: pointer;
    background-color: var(--neu-mediumGrey);
    color: var(--neu-white);
}

li {
    list-style-type: none;
    border: 1px solid red;
    border-radius: 50%;
    margin: 0.25rem;
    padding: 1rem;
}

#submitButton {
    width: 90%;
    height: 2.25rem;
    border-radius: 1.25rem;
    border: none;
    background-color: var(--pri-orange);
    color: var(--neu-white);
    margin: auto;
}

#submitButton:hover {
    background-color: var(--neu-white);
    color: var(--pri-orange);
    cursor: pointer;
}

.active {
    background-color: red;
    color: white;
}

#thankYouStart {
    display: none;
}