:root {
    /* Primary */
    --pri-orange: hsl(25, 97%, 53%);
    /* Neutral */
    --neu-white: hsl(0, 0%, 100%);
    --neu-lightGrey: hsl(217, 12%, 63%);
    --neu-mediumGrey: hsl(216, 12%, 54%);
    --neu-darkBlue: hsl(213, 19%, 18%);
    --neu-veryDarkBlue: hsl(216, 12%, 8%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

body {
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--neu-veryDarkBlue);
}

main {
    background-color: var(--neu-darkBlue);
    width: 90%;
    max-width: 325px;
    max-height: 245;
    margin: auto;
    height: max-content;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ratingStart {
    margin: 0rem 0.25rem;
    display: flex;
    flex-direction: column;
}

.starIcon {
    width: 45px;
    height: 45px;
    scale: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0.5rem 0rem;
    background-color: hsla(216, 12%, 54%, 0.223);
}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--neu-white);
}

p {
    font-weight: 400;
    color: var(--neu-lightGrey);
}

#ratingOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem;
    /* This needs adjusted. */
}

#ratingOption li:hover {
    cursor: pointer;
    background-color: var(--pri-orange);
    color: var(--neu-white);
}

li {
    list-style-type: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(216, 12%, 54%, 0.223);
    color: var(--neu-mediumGrey);
}

#submitButton {
    width: 90%;
    height: 2.25rem;
    border-radius: 1.25rem;
    border: none;
    background-color: var(--pri-orange);
    color: var(--neu-white);
    margin: auto;
    margin-bottom: 1rem;
}

#submitButton:hover {
    background-color: var(--neu-white);
    color: var(--pri-orange);
    cursor: pointer;
}

.active {
    background-color: var(--neu-lightGrey);
    color: white;
}

#thankYouStart {
    display: none;
}

.thankYouBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#thankYouImg {
    margin: 1rem 0rem 0.5rem 0rem;
}

#insertRating {
    color: var(--pri-orange);
    font-size: 1rem;
    padding: 0.25rem 0.625rem;
    border-radius: 20px;
    margin: 0.5rem 0rem 0.5rem 0rem;
    background-color: hsla(216, 12%, 54%, 0.223);
}

h2 {
    color: var(--neu-white);
    margin: 0.5rem 0rem;
}

p {
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 0.5rem 0rem 1rem;
}

footer {
    color: var(--neu-mediumGrey)
}