:root {
    /* Primary */
    --pri-orange: hsl(25, 97%, 53%);
    /* Neutral */
    --neu-white: hsl(0, 0%, 100%);
    --neu-lightGrey: hsl(217, 12%, 63%);
    --neu-mediumGrey: hsl(216, 12%, 54%);
    --neu-darkBlue: hsla(213, 20%, 18%, 0.762);
    --neu-veryDarkBlue: hsl(216, 12%, 8%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

body {
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--neu-veryDarkBlue);
}

main {
    background-color: var(--neu-darkBlue);
    width: 90%;
    max-width: 325px;
    max-height: 245;
    margin: auto;
    height: max-content;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ratingStart {
    margin: 0rem 0.25rem;
    display: flex;
    flex-direction: column;
}

.starIcon {
    width: 50px;
    height: 50px;
    scale: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: hsla(216, 12%, 54%, 0.223);
    translate: -7px;
}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--neu-white);
    margin: 0.5rem 0rem;
}

#pRating {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--neu-lightGrey);
    margin: 0.5rem 0rem 1rem 0rem;
}

#ratingOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem 0.75rem 0rem;
}

#ratingOption li:hover {
    cursor: pointer;
    background-color: var(--pri-orange);
    color: var(--neu-white);
}

li {
    list-style-type: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(216, 12%, 54%, 0.223);
    color: var(--neu-mediumGrey);
    font-size: 0.875rem;
    font-weight: 700;
}

#submitButton {
    width: 100%;
    height: 2.75rem;
    border-radius: 1.375rem;
    border: none;
    background-color: var(--pri-orange);
    color: var(--neu-white);
    margin: 1rem auto;
    letter-spacing: 0.125rem;
    font-size: 0.875rem;
    font-weight: 700;
}

#submitButton:hover {
    background-color: var(--neu-white);
    color: var(--pri-orange);
    cursor: pointer;
}

.active {
    background-color: var(--neu-lightGrey);
    color: white;
}

#thankYouStart {
    display: none;
}

.thankYouBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#thankYouImg {
    margin: 1rem 0rem 0.5rem 0rem;
}

#insertRating {
    color: var(--pri-orange);
    font-size: 0.875rem;
    max-height: 2rem;
    padding: 0.326rem 0.75rem;
    border-radius: 20px;
    margin: 0.5rem 0rem 0.5rem 0rem;
    background-color: hsla(216, 12%, 54%, 0.223);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thankYouImg {
    padding: 0.625rem;
}

h2 {
    color: var(--neu-white);
    margin: 1rem 0rem 0.25rem 0rem;
}

#pThankyou {
    font-size: 0.875rem;
    line-height: 1.5;
    margin: 0.5rem 0rem 1rem;
    color: var(--neu-lightGrey);
}

footer {
    color: var(--neu-mediumGrey)
}